<!--     args="/media/joey/data/dataset/1004/ORBvoc_out.bin /media/joey/data/dataset/1004/fov90_orb_param_half.yaml true"  -->
<launch>

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_base"
    args="0 0 0 -1.74 0 -1.57 /base_link /camera_base" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_camera_to_base"
    args="0 0 0 -1.74 0 -1.57 /odom /odom_camera_base" />
  <node pkg="ORB_SLAM2" type="Stereo" name="orbslam_node"
  
    args="/media/joey/7462D3570BB7CDEE/1004/ORBvoc_out.bin /media/joey/7462D3570BB7CDEE/1004/fov90_orb_param_half.yaml true" 
    cwd="node" 
    output="screen" />

</launch>
